.form-component {
    display: flex;
    margin: 50px 0;
    margin-left: 80px;
}

.form-component form {
    max-width: 80%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 18px 32px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}