.text-field {
    margin: 16px 0;
}

.text-field label {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
}

.text-field input {
    background-color: #FFF;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 18px;
    box-sizing: border-box;
}